{% extends "base/base.html" %}
{% load static %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header ">
                <h5>Applications</h5>
                <div class="list-btn">
                    <ul class="filter-list">
                        <li>
                            <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Search"><span class="me-2"><img src="{% static 'dashboard/assets/img/icons/filter-icon.svg' %}" alt="filter"></span>Search </a>
                        </li>

                        <li class="">
                            <div class="dropdown dropdown-action" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Download">
                                <a href="#" class="btn-filters" data-bs-toggle="dropdown" aria-expanded="false"><span><i class="fe fe-download"></i></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="d-block">
                                        <li>
                                            <a class="d-flex align-items-center download-item" href="{% url 'dashboard:download_applications' %}" download><i class="far fa-file-text me-2"></i>CVS</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                      
                        <li>
                            <a class="btn btn-primary" href="{% url 'dashboard:create_application' %}"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>New Application</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- All Invoice -->
        <div class="card invoices-tabs-card">
            <div class="invoices-main-tabs">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="invoices-tabs">
                            <ul>
                                <li><a href="" class="active">Filter Applications</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /All Invoice -->

        <!-- filter section -->
        <div class="row">
            <div class="col-sm-12">
                <form action="" id="myForm" method="GET" style="display: inline;">

                    <input type="hidden" name="form_id" value="filter">
                    <div class="row">
                        <div class="col-3">
                            <label for="category">Course Category</label>
                            <select name="category" id="category" class="form-control">
                                <option value="all">All</option>
                                {% for cat in categories %}
                                <option value="{{cat.id}}" {% if cat.id == selected_category %} selected {% endif %} >{{cat.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
    
                        <div class="col-3">
                            <label for="">Start Date</label>
                            <input type="date" class="form-control" name="start_date">
                        </div>
    
                        <div class="col-3">
                            <label for="">End Date</label>
                            <input type="date" class="form-control" name="end_date">
                        </div>


                        <div class="col-1">
                            <label for="">Filter</label>
                            <button type="button" class="btn btn-sm btn-primary" onclick="setFormAction('applications')">Filter</button>
                        </div>
                        <div class="col-2">
                            <label for="">Download</label>
                            <button type="button" class="btn btn-sm btn-outline-primary" onclick="setFormAction('download_applications')">Download</button>
                        </div>

                    </div>
                    
                </form>

            </div>
        </div>

        <hr/>

        <!-- Table -->
        <div class="row">
            <div class="col-sm-12">
                <div class=" card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Application ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Course</th>
                                        <th>Status</th>
                                        <th>Fees(GHC)</th>
                                        <th>Amount Paid(GHC)</th>
                                        <th>Payment Mode</th>
                                        <th>Payment Status</th>
                                        <th>Created At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if applications %}
                                    {% for application in applications %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{application.application_id}}</td>
                                        <td>{{application.name}}</td>
                                        <td>{{application.email}}</td>
                                        <td>{{application.phone}}</td>
                                        <td>{{application.course.title}}</td>
                                        <td>{{application.application_status}}</td>
                                        <td>{{application.course.price}}</td>
                                        <td>{{application.get_total_payments}}</td>
                                        <td>{{application.payment_mode}}</td>
                                        <td>{{application.get_payment_status}}</td>
                                        <td>{{application.created_at}}</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'dashboard:admit_one_student' %}?application_id={{application.application_id}}"><i class="far fa-square-check me-2"></i>View/Admit</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="11" class="text-center">No Applications Found</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Table -->

    </div>
    <!-- Add Asset -->
    <div class="toggle-sidebar">
        <div class="sidebar-layout-filter">
            <div class="sidebar-header">
                <h5>Filter</h5>
                <a href="#" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
            </div>
            <div class="sidebar-body">
                <form action="#" autocomplete="off">
                    <input type="hidden" name="form_id" value="search">
                    <!-- Product -->
                    <div class="accordion" id="accordionMain1">
                        <div class="card-header-new" id="headingOne">
                            <h6 class="filter-title">
                                <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Enter Search Query
                                    <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                            </h6>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                            <div class="card-body-chat">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="checkBoxes1">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" id="member_search1" name="query" placeholder="Search Applications">
                                                <span><img src="{% static 'dashboard/assets/img/icons/search.svg' %}" alt="img"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Product -->

                    <!-- /Category -->

                    <div class="filter-buttons">
                        <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                                Search
                            </button>
                        <button type="reset" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-secondary">
                                Reset
                            </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- /Add Asset -->
   
</div>
<!-- /Page Wrapper -->


<script>
    function setFormAction(action) {
        if (action == 'download_applications') {
            window.location.href = "{% url 'dashboard:download_applications' %}?"+ $('#myForm').serialize();
            return;
        } else if (action == 'applications') {
            window.location.href = "{% url 'dashboard:applications' %}?"+ $('#myForm').serialize();
            return;
        }

    }
</script>
{% endblock %}