{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="content-page-header">
            <h5>Broadcast Notification</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="form-group-item">
                        <h5 class="form-title">Notification Details</h5>
                        <form action="#" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" name="title" value="{{notification.title}}" readonly>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Content</label>
                                    <textarea class="form-control" name="content" cols="30" rows="5" placeholder="Notification content" readonly>{{notification.content}}</textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Total Recipients(Old Applicants)</label>
                                    <input class="form-control" type="number" value="{{applicants}}" readonly>
                                </div>
                            </div>
                        </div>
                        </form>
                        <div class=""><a href="{% url 'dashboard:create_update_notification' %}?notification_id={{notification.id}}">Edit Notification</a></div>

                    </div>
                    <hr>
                    <div class="form-group-item" style="display: inline-block;">
                        <h5 class="form-title">SMS Broadcast</h5>
                        <form action="{% url 'dashboard:broadcast' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="notification_id"  value="{{notification.id}}">
                            <input type="hidden" name="type" value="sms">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="submit"  class="btn btn-primary" value="Broadcast As SMS">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="form-group-item" style="display: inline-block;">
                        <h5 class="form-title">Email Broadcast</h5>
                        <form action="{% url 'dashboard:broadcast' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="notification_id"  value="{{notification.id}}">
                            <input type="hidden" name="type" value="email">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="submit"  class="btn btn-outline-primary" value="Broadcast As Email">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function displayImagePreview(input) {
    var preview = document.getElementById('image-preview');
    var file = input.files[0];
    
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            preview.src = e.target.result;
        };
        reader.readAsDataURL(file);
    } else {
        preview.src = "";
    }
}
</script>
<!-- /Page Wrapper -->
{% endblock content %}
