{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="content-page-header">
            <h5>Add FAQ</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="form-group-item">
                        <h5 class="form-title">FAQ Form</h5>
                        <form action="{% url 'dashboard:create_update_faq' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="faq_id" value="{{faq.id}}">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Question</label>
                                    <input type="text" class="form-control" name="question" value="{{faq.question}}" placeholder="Faq title" required>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Answer</label>
                                    <textarea class="form-control" name="answer" cols="30" rows="5" placeholder="Faq answer" required>{{faq.answer}}</textarea>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="reset"  class="btn btn-danger" value="Clear">
                                    <input type="submit"  class="btn btn-primary" value="Submit">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function displayImagePreview(input) {
    var preview = document.getElementById('image-preview');
    var file = input.files[0];
    
    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            preview.src = e.target.result;
        };
        reader.readAsDataURL(file);
    } else {
        preview.src = "";
    }
}
</script>
<!-- /Page Wrapper -->
{% endblock content %}
