{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="content-page-header">
            <h5>Add User</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="form-group-item">
                        <h5 class="form-title">Profile Picture</h5>
                        <div class="profile-picture">
                            <div class="upload-profile">
                                <div class="profile-img">
                                    <img id="blah" class="avatar" src="{% if user.profile_pic %} {{user.profile_pic.url}} {% else %} {% static 'dashboard/assets/img/profiles/avatar-10.jpg' %} {% endif %} " alt="">
                                </div>
                                <div class="add-profile">
                                    <h5>Upload a New Photo</h5>
                                    <span>Images Only</span>
                                </div>
                            </div>
                            <div class="img-upload">
                                <form action="{% url 'dashboard:update_profile_pic' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{user.id}}">
                                    <input type="file" name="profile_pic" class="form-control" accept="image/*">
                                    <input class="btn btn-primary me-2" type="submit" value="Upload">
                                </form>
                            </div>
                        </div>
                        <form action="{% url 'dashboard:create_update_user' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{user.id}}">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Fullname</label>
                                    <input type="text" class="form-control" name="name" value="{{user.name}}" placeholder="Enter Fullname">
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" value="{{user.email}}" placeholder="Enter Email Address">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" value="{{user.phone}}" placeholder="Enter Phone Number" name="phone">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Role</label>
                                    <select class="form-control" name="role">
                                        <option value="superuser" {% if user.is_superuser %} selected {% endif %}>Superuser</option>
                                            <option value="staff" {% if user.is_staff %} selected {% endif %} >Staff</option>
                                    </select>
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" name="status">
                                            <option value="active" {% if user.is_active %} selected {% endif %}>Active</option>
                                            <option value="inactive" {% if not user.is_active %} selected {% endif %} >Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="reset"  class="btn btn-danger" value="Clear">
                                    <input type="submit"  class="btn btn-primary" value="Submit">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
{% endblock content %}
