{% extends "base/base.html" %}
{% load static %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header ">
                <h5>Facilitators</h5>
                <div class="list-btn">
                    <ul class="filter-list">
                        <li>
                            <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Search"><span class="me-2"><img src="{% static 'dashboard/assets/img/icons/filter-icon.svg' %}" alt="filter"></span>Search </a>
                        </li>

                        <li class="">
                            <div class="dropdown dropdown-action" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Download">
                                <a href="#" class="btn-filters" data-bs-toggle="dropdown" aria-expanded="false"><span><i class="fe fe-download"></i></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="d-block">
                                        <li>
                                            <a class="d-flex align-items-center download-item" href="" download><i class="far fa-file-text me-2"></i>CVS</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                      
                        <li>
                            <a class="btn btn-primary" href="{% url 'dashboard:create_update_facilitator' %}"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>New Facilitator</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->


        <!-- Table -->
        <div class="row">
            <div class="col-sm-12">
                <div class=" card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Thumbnail</th>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Specialization</th>
                                        <th>Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if facilitators %}
                                    {% for facilitator in facilitators %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>
                                            <div class="avatar avatar-lg">
                                                <img src="{% if facilitator.image %} {{facilitator.image.url}} {% else %} {% static 'website/images/course/course-list1.jpg' %} {% endif %} " alt="Course Image" class="avatar-img rounded-circle">
                                            </div>
                                        </td>
                                        <td>{{facilitator.name}}</td>
                                        <td>{{facilitator.title}}</td>
                                        <td>{{facilitator.specialization}}</td>
                                        <td>{{facilitator.created_at}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center">No Facilitator Found</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Table -->

    </div>
    <!-- Add Asset -->
    <div class="toggle-sidebar">
        <div class="sidebar-layout-filter">
            <div class="sidebar-header">
                <h5>Filter</h5>
                <a href="#" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
            </div>
            <div class="sidebar-body">
                <form action="{% url 'dashboard:facilitators' %}" method="GET" autocomplete="off">
                    <!-- Product -->
                    <div class="accordion" id="accordionMain1">
                        <div class="card-header-new" id="headingOne">
                            <h6 class="filter-title">
                                <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Enter Search Query
                                    <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                            </h6>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                            <div class="card-body-chat">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="checkBoxes1">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" id="member_search1" name="query" placeholder="Search Facilitator">
                                                <span><img src="{% static 'dashboard/assets/img/icons/search.svg' %}" alt="img"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Product -->

                    <!-- /Category -->

                    <div class="filter-buttons">
                        <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                                Search
                            </button>
                        <button type="reset" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-secondary">
                                Reset
                            </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- /Add Asset -->

</div>
<!-- /Page Wrapper -->
{% endblock %}