{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="content-page-header">
            <h5>Reply Message</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="form-group-item">
                        <form action="{% url 'dashboard:reply_message' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="message_id" value="{{message.id}}">
                        <div class="row">
                            <p>Message Details</p>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" value="{{message.name}}" disabled>
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" value="{{message.email}}" disabled>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" value="{{message.phone}}" name="phone" disabled>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control" name="message" disabled>{{message.message}}</textarea>
                                </div>
                            </div>
                            <hr>
                            {% if message.is_replied %}
                            <p>Replied By</p>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" value="{{message.replied_by.name}}" disabled>
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" value="{{message.replied_by.email}}" disabled>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" value="{{message.replied_by.phone}}" name="phone" disabled>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label>Reply Body</label>
                                    <textarea class="form-control" name="message" disabled>{{message.replied_message}}</textarea>
                                </div>
                            </div>
                            {% endif %}
                            <hr>
                           <p>Reply</p>
                           <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" name="reply_title" placeholder="Your reply title">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Reply Message</label>
                                <textarea class="form-control" name="reply_message" placeholder="Please type your reply"></textarea>
                            </div>
                        </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="reset"  class="btn btn-danger" value="Clear">
                                    <input type="submit"  class="btn btn-primary" value="Reply">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
{% endblock content %}
