{% extends "base/base.html" %}
{% load static %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="content-page-header ">
                <h5>Reports</h5>
                <div class="list-btn">
                    <ul class="filter-list">
                        <li>
                            <a class="btn btn-filters w-auto popup-toggle" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Search"><span class="me-2"><img src="{% static 'dashboard/assets/img/icons/filter-icon.svg' %}" alt="filter"></span>Search </a>
                        </li>

                        <li class="">
                            <div class="dropdown dropdown-action" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Download">
                                <a href="#" class="btn-filters" data-bs-toggle="dropdown" aria-expanded="false"><span><i class="fe fe-download"></i></span></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="d-block">
                                        <li>
                                            <a class="d-flex align-items-center download-item" href="" download><i class="far fa-file-text me-2"></i>CVS</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                      
                        <li>
                            <a class="btn btn-primary" href=""><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>New Report <i class="badge" style="background-color: yellowgreen;">Soon</i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- All report -->
        <div class="card invoices-tabs-card">
            <div class="invoices-main-tabs">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="invoices-tabs">
                            <ul>
                                <li><a href="" class="active">Filter Reports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /All report -->

        <!-- filter section -->
        <div class="row">
            <div class="col-sm-12">
                <form action="" id="myForm" method="GET" style="display: inline;">

                    <input type="hidden" name="form_id" value="filter">
                    <div class="row">
                        <div class="col-3">
                            <label for="category">Report Status</label>
                            <select name="category" id="category" class="form-control">
                                <option value="all">All</option>
                                <option value="APPROVED">APPROVED</option>
                                <option value="PENDING REVIEW">PENDING REVIEW</option>
                                <option value="REJECTED">REJECTED</option>
                            </select>
                        </div>
    
                        <div class="col-3">
                            <label for="">Report Date</label>
                            <input type="date" class="form-control" name="report_date">
                        </div>
    
                        <div class="col-3">
                            <label for="">Created At</label>
                            <input type="date" class="form-control" name="created_date">
                        </div>


                        <div class="col-1">
                            <label for="">Filter</label>
                            <button type="button" class="btn btn-sm btn-primary" onclick="setFormAction('reports')">Filter</button>
                        </div>
                        <div class="col-2">
                            <label for="">Download</label>
                            <button type="button" class="btn btn-sm btn-outline-primary" style="display: block;" onclick="setFormAction('download_reports')">Download</button>
                        </div>

                    </div>
                    
                </form>

            </div>
        </div>

        <hr/>

        <!-- Table -->
        <div class="row">
            <div class="col-sm-12">
                <div class=" card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-center table-hover datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Reporter</th>
                                        <th>School</th>
                                        <th>Students Enrolled</th>
                                        <th>Students Fed</th>
                                        <th>Meal Type</th>
                                        <th>Report Status</th>
                                        <th>Date of Report</th>
                                        <th>Created At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if reports %}
                                    {% for report in reports %}
                                    <tr>
                                        <td>{{report.report_id}}</td>
                                        <td>{{report.reported_by.name}}</td>
                                        <td>{{report.school}}</td>
                                        <td>{{report.students_enrolled}}</td>
                                        <td>{{report.students_fed}}</td>
                                        <td>{{report.meal_type}}</td>
                                        <td><span class="badge bg-{{report.get_color}}">{{report.status}}</span></td>
                                        <td>{{report.date_of_report}}</td>
                                        <td>{{report.created_at}}</td>
                                        <td class="d-flex align-items-center">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class=" btn-action-icon " data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul>
                                                        <li>
                                                            <a class="dropdown-item" href="{% url 'dashboard:verify_report' %}?query={{report.report_id}}"><i class="far fa-square-check me-2"></i>View/Verify</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="11" class="text-center">No Reports Found</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Table -->

    </div>
    <!-- Add Asset -->
    <div class="toggle-sidebar">
        <div class="sidebar-layout-filter">
            <div class="sidebar-header">
                <h5>Filter</h5>
                <a href="#" class="sidebar-closes"><i class="fa-regular fa-circle-xmark"></i></a>
            </div>
            <div class="sidebar-body">
                <form action="{% url 'dashboard:reports' %}" autocomplete="off">
                    <input type="hidden" name="form_id" value="search">
                    <!-- Product -->
                    <div class="accordion" id="accordionMain1">
                        <div class="card-header-new" id="headingOne">
                            <h6 class="filter-title">
                                <a href="javascript:void(0);" class="w-100" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Enter Search Query
                                    <span class="float-end"><i class="fa-solid fa-chevron-down"></i></span>
                                </a>
                            </h6>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                            <div class="card-body-chat">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="checkBoxes1">
                                            <div class="form-custom">
                                                <input type="text" class="form-control" id="member_search1" name="query" placeholder="Search reports">
                                                <span><img src="{% static 'dashboard/assets/img/icons/search.svg' %}" alt="img"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /Product -->

                    <!-- /Category -->

                    <div class="filter-buttons">
                        <button type="submit" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-primary">
                                Search
                            </button>
                        <button type="reset" class="d-inline-flex align-items-center justify-content-center btn w-100 btn-secondary">
                                Reset
                            </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- /Add Asset -->
   
</div>
<!-- /Page Wrapper -->


<script>
    function setFormAction(action) {
        if (action == 'download_reports') {
            window.location.href = "{% url 'dashboard:download_reports' %}?"+ $('#myForm').serialize();
            return;
        } else if (action == 'reports') {
            window.location.href = "{% url 'dashboard:reports' %}?"+ $('#myForm').serialize();
            return;
        }

    }
</script>
{% endblock %}