{% extends "base/base.html" %}
{% load static %}
{% block content %}
<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <!-- Page Header -->

        <!-- /Page Header -->

        <div class="row">
            <div class="col-xl-3 col-md-4">

                <div class="card">
                    <div class="card-body">
                        <div class="page-header">
                            <div class="content-page-header">
                                <h5>Settings</h5>
                            </div>
                        </div>
                        <!-- Settings Menu -->
                        <div class="widget settings-menu mb-0">
                            <ul>
                                <li class="nav-item">
                                    <a href="{% url 'dashboard:settings' %}" class="nav-link active">
                                        <i class="fe fe-user"></i> <span>Profile Settings</span>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'dashboard:prefered_settings' %}" class="nav-link">
                                        <i class="fe fe-settings"></i> <span>Preference Settings</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'dashboard:password_reset' %}" class="nav-link">
                                        <i class="fe fe-lock"></i> <span>Password Reset</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Settings Menu -->
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-md-8">
                <div class="content w-100 pt-0">
                    <div class="content-page-header">
                        <h5>Account Settings</h5>
                    </div>
                    <div class="row">
                        <div class="profile-picture">
                            <div class="upload-profile me-2">
                                <div class="profile-img">
                                    <img id="blah" class="avatar"
                                        src="{% if user.profile_pic %} {{user.profile_pic.url}} {% else %} {% static 'dashboard/assets/img/profiles/avatar-10.jpg' %} {% endif %} "
                                        alt="">
                                </div>
                            </div>
                            <div class="img-upload">
                                <form action="{% url 'dashboard:change_profile_pic' %}" method="POST"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="file" class="form-control" name="profile_pic" accept="image/*"
                                        onchange="displayImagePreview(this)">
                                    <img id="image-preview"
                                        src="{% if user.profile_pic %} {{course.profile_pic.url}} {% endif %} "
                                        alt="Image Preview"
                                        style="max-width: 100%; max-height: 150px; margin-top: 10px;">

                                    <input type="submit" class="btn btn-outline-primary" value="Change Image">

                                </form>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-title">
                                <h5>General Information</h5>
                            </div>
                        </div>
                        <form action="{% url 'dashboard:settings' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="name" value="{{user.name}}"
                                            placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="email" value="{{user.email}}"
                                            placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" class="form-control" name="phone" value="{{user.phone}}"
                                            placeholder="Enter Email Address">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <label>Role</label>
                                        {% if user.is_superuser %}
                                        <input type="text" class="form-control" placeholder="Enter Mobile Number"
                                            value="SUPERUSER" readonly>
                                        {% elif user.is_staff %}
                                        <input type="text" class="form-control" placeholder="Enter Mobile Number"
                                            value="STAFF" readonly>
                                        {% else %}
                                        <input type="text" class="form-control" placeholder="Enter Mobile Number"
                                            value="GUEST" readonly>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="btn-path">
                                        <input type="submit" class="btn btn-primary" value="Save Changes">
                                    </div>
                                </div>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function displayImagePreview(input) {
        var preview = document.getElementById('image-preview');
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
    }
</script>
<!-- /Page Wrapper -->
{% endblock content %}