{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="content-page-header">
            <h5>Update User Permissions</h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <b>Name</b>
                            <p class="text-primary">{{user.name}}</p>
                        </div>
                        <div class="col-4 mb-3">
                            <b>Email</b>
                            <p class="text-primary">{{user.email}}</p>
                        </div>
                        <div class="col-4 mb-3">
                            <b>Phone</b>
                            <p class="text-primary">{{user.phone}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-body border-0 col-md-12">
                <div class="row">
                    <div class="col-4">
                        <b class="">Reports Submitted</b>
                    </div>
                    <div class="col-4">
                        <b class="">Reports Approved</b>
                    </div>
                    <div class="col-4">
                        <b class="">Reports Rejected</b>
                    </div>

                    <div class="col-4">
                       <p>{{user.reports_submitted}}</p>
                    </div>
                    <div class="col-4">
                        <p>{{user.approved_reports}}</p>
                    </div>
                    <div class="col-4">
                        <p>{{user.rejected_reports}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
{% endblock content %}
